[defaults]
inventory = inventory/hosts.yml
host_key_checking = False
retry_files_enabled = False
stdout_callback = default
deprecation_warnings = True
gathering = smart
fact_caching = memory
local_tmp = ./.ansible/tmp
remote_tmp = /tmp/ansible-remote-tmp
interpreter_python = auto_silent

[privilege_escalation]
become_ask_pass = True

[inventory]
enable_plugins = yaml
